.listing {
  background: rgb(34,170,195);
  background: -moz-linear-gradient(0deg, rgba(34,170,195,1) 0%, rgba(45,171,253,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,170,195,1) 0%, rgba(45,171,253,1) 100%);
  background: linear-gradient(0deg, rgba(34,170,195,1) 0%, rgba(45,171,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22aac3",endColorstr="#2dabfd",GradientType=1);
  border-radius: 30px;
  padding-bottom: 30px;
}
.listing-heading {
  color: white;
  padding: 10px 20px 0 20px;
  font-family: "Alegreya Sans SC", sans-serif;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 10px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: normal;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}

.alegreya-sans-sc-thin {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.alegreya-sans-sc-light {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.alegreya-sans-sc-regular {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-sc-medium {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-sans-sc-bold {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sans-sc-extrabold {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.alegreya-sans-sc-black {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.alegreya-sans-sc-thin-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.alegreya-sans-sc-light-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.alegreya-sans-sc-regular-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.alegreya-sans-sc-medium-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.alegreya-sans-sc-bold-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.alegreya-sans-sc-extrabold-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.alegreya-sans-sc-black-italic {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
