.listing {
  background: rgb(34,170,195);
  background: -moz-linear-gradient(0deg, rgba(34,170,195,1) 0%, rgba(45,171,253,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,170,195,1) 0%, rgba(45,171,253,1) 100%);
  background: linear-gradient(0deg, rgba(34,170,195,1) 0%, rgba(45,171,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22aac3",endColorstr="#2dabfd",GradientType=1);
  border-radius: 30px;
  padding-bottom: 30px;
}
.listing-heading {
  color: white;
  padding: 10px 20px 0 20px;
  font-family: "Major Mono Display", monospace;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 10px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Poetsen One", sans-serif;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
